image:
  tag: latest
build:
  enabled: true
  mode: s2i
  bootableJar:
    builderImage: registry.access.redhat.com/ubi8/openjdk-17:latest
  s2i:
    kind: DockerImage
    builderImage: quay.io/wildfly/wildfly-s2i:latest
    runtimeImage: quay.io/wildfly/wildfly-runtime:latest
    buildApplicationImage: true
  output:
    kind: ImageStreamTag
  triggers: {}
deploy:
  enabled: true
  replicas: 1
  tls: {}
  route:
    enabled: true
    tls:
      enabled: true
      termination: edge
      insecureEdgeTerminationPolicy: Redirect
  ingress:
    enabled: false
    path: /
    pathType: Prefix
  livenessProbe:
    httpGet:
      path: /health/live
      port: admin
  readinessProbe:
    httpGet:
      path: /health/ready
      port: admin
  startupProbe:
    httpGet:
      path: /health/live
      port: admin
    initialDelaySeconds: 5
    failureThreshold: 36
    periodSeconds: 5
