name: Helm Chart CI

on:
  - pull_request
#  - push
  
# Only run the latest job
concurrency:
  group: '${{ github.workflow }} @ ${{ github.ref || github.run_id }}'
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.13.3

      - name: Setup Bats and Bats libs
        uses: bats-core/bats-action@1.5.4
        with:
          bats-version: 1.10.0
          support-path: ${{ github.workspace }}/tests/test-common/bats-support
          assert-path: ${{ github.workspace }}/tests/test-common/bats-assert

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.5.0
        with:
          node_image: "kindest/node:v1.29.0"
          config: ./.github/workflows/ci/kind-config.yaml
          cluster_name: chart-testing
      
      - name: Create registry secret
        run: |-
          kubectl create secret docker-registry github-secret --docker-server=ghcr.io/${{ github.repository_owner }} --docker-username=${{ github.actor }} --docker-password=${{ github.token }}
  
      - name: Check registry secret
        run: |-
          kubectl get secret github-secret --output="jsonpath={.data.\.dockerconfigjson}" | base64 --decode

      - name: Setup Nginx Ingress Controller
        run: |-
          ./.github/workflows/ci/setup-nginx-ingress-controller.sh

      - name: Modify /etc/hosts
        run: |-
           sudo echo "127.0.0.1 wildfly.local" | sudo tee -a /etc/hosts

      - name: Run Tests
        run: |-
          cd tests/bats
          export IMAGE_REGISTRY=ghcr.io/${{ github.repository_owner }} && export PUSH_TO_REGISTRY=true && export USE_OPENSHIFT=false && export BATS_LIBS_BASEDIR=../test-common && export_CLUSTER_CLIENT=kubectl && bats --timing --trace --verbose-run -r . 
